:root {
  --black: #151515;
  --accent: #5cc2c0;
  --white-smoke: #fafafa;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  background-color: #fafafa;
  font-family: Switzer, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 1.3;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.3;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.3;
}

p {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

.container-navbar {
  width: 100%;
  height: 100%;
  max-width: 1512px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.navbar {
  height: 72px;
  color: #fff;
  background-color: #151515;
  border-bottom: 1px solid rgba(255, 255, 255, .08);
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.brand-navbar {
  height: 26px;
}

.right-navbar {
  grid-column-gap: 8px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.cta {
  height: 68px;
  color: #f0f0f0;
  background-color: #151515;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 18px;
  display: flex;
}

.cta.utility {
  height: auto;
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.section {
  z-index: 1;
  padding-top: 80px;
  padding-bottom: 80px;
}

.section.home-a-header {
  background-color: #151515;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-top: 132px;
  padding-bottom: 60px;
}

.section.big {
  padding-top: 120px;
  padding-bottom: 80px;
}

.section.legal {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section.gallery {
  background-color: #fff;
  padding-top: 56px;
}

.section.gallery.hide {
  display: none;
}

.section.white {
  background-color: #fff;
}

.section.legal-section {
  padding-top: 160px;
  padding-bottom: 100px;
}

.section.home-a-header {
  background-color: #151515;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-top: 132px;
  padding-bottom: 60px;
}

.paragraph-small {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.paragraph-small.no-margins {
  margin-bottom: 0;
}

.header-a-image-wrap {
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  overflow: hidden;
}

.text-button {
  font-size: 14px;
  line-height: 150%;
  text-decoration: underline;
}

.text-button.white {
  color: #fff;
  color: #fff;
}

.grid-halves {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  align-items: center;
}

.cta-wrapper {
  align-items: center;
  display: flex;
}

.cta-wrapper.header-a {
  width: 100%;
  max-width: 305px;
  flex-direction: column;
  align-items: stretch;
}

.main-container {
  max-width: 1348px;
  padding-left: 24px;
  padding-right: 24px;
}

.paragraph-big {
  font-size: 18px;
  line-height: 140%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image.hero {
  height: 600px;
}

.no-margins {
  margin-top: 0;
  margin-bottom: 0;
}

.contact-flex {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.space-16 {
  height: 16px;
}

.card-image {
  width: 100%;
  height: 230px;
  max-width: 252px;
  border-radius: 10px;
  overflow: hidden;
}

.footer-links {
  grid-row-gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 24px;
  display: flex;
}

.footer-main {
  max-width: 445px;
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.footer-grid {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.4fr;
}

.footer {
  overflow: hidden;
}

.footer-title {
  color: var(--black);
  letter-spacing: 0;
  font-family: Poppins, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 153%;
}

.footer-link-wrap {
  width: 100%;
  max-width: 705px;
  grid-column-gap: 48px;
  justify-content: space-between;
  display: flex;
}

.cta-link {
  grid-column-gap: 8px;
  color: var(--black);
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 200%;
  display: flex;
}

.footer-link {
  color: #333;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
  line-height: 160%;
  text-decoration: none;
}

.text-heading-4 {
  color: var(--black);
  font-family: Poppins, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 153%;
}

.footer-column {
  width: 100%;
}

.expectation-icon {
  width: 40px;
  height: 40px;
  background-color: #151515;
  border-radius: 8px;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  display: flex;
  overflow: hidden;
}

.expectation-icon.accent-bg {
  background-color: var(--accent);
}

.space-12 {
  height: 12px;
}

.expectation-card {
  background-color: #fff;
  border-radius: 12px;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 42px;
  display: flex;
}

.grid-expectations-thirds {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid-expectations-thirds.hide {
  display: none;
}

.nav-link-block {
  color: #fff;
  padding: 20px 18px;
  text-decoration: none;
}

.tile-team {
  grid-row-gap: 24px;
  flex-direction: column;
  display: flex;
}

.team-gallery-column {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  display: flex;
}

.team-gallery {
  border-radius: 10px;
  overflow: hidden;
}

.team-gallery._03 {
  height: 400px;
}

.team-gallery-wrap {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid-thirds {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid-thirds.pricing-thirds {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.expandable-single {
  cursor: pointer;
  background-color: #fff;
  border-radius: 12px;
  padding: 24px 24px 24px 32px;
}

.submit-wrap {
  flex-direction: column;
  display: flex;
}

.contact-wrap {
  width: 100%;
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  width: 40px;
  height: 40px;
  background-color: #151515;
  border-radius: 8px;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.icon.accent {
  background-color: #5cc2c0;
}

.text-field {
  min-height: 60px;
  background-color: var(--white-smoke);
  color: var(--black);
  border: 1px #000;
  border-radius: 20px;
  margin-bottom: 0;
  padding: 20px 24px;
  font-size: 18px;
  line-height: 180%;
}

.text-field:focus {
  color: #0b0c0d;
  border: 1px solid #151515;
}

.text-field::-ms-input-placeholder {
  color: #b8b8b8;
}

.text-field::placeholder {
  color: #b8b8b8;
}

.text-field.text-area-size {
  min-height: 140px;
  color: var(--black);
}

.top-contact-tile {
  grid-column-gap: 16px;
  align-items: center;
  display: flex;
}

.contact-link {
  color: #0b0c0d;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  text-decoration: underline;
}

.input-wrap {
  margin-bottom: 24px;
  position: relative;
}

.form-block {
  margin-bottom: 0;
}

.link-contact-tile {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  background-color: var(--white-smoke);
  color: #0b0c0d;
  border-radius: 10px;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  padding: 40px 50px;
  text-decoration: none;
  display: flex;
}

.success-message {
  color: #0b0c0d;
  background-color: #fff;
  border: 1px solid rgba(21, 21, 21, .2);
  border-radius: 8px;
}

.form-title-wrap {
  grid-row-gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
}

.master-contact-tiles {
  width: 100%;
  max-width: 346px;
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.contact-form-wrap-version-two {
  width: 100%;
}

.contact-text {
  line-height: 1.8;
}

.grid-contact {
  grid-template-rows: auto;
  grid-template-columns: 1.2fr 1fr;
}

.right-contact-tile {
  grid-row-gap: 12px;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 4px;
  display: flex;
}

.column-left-single-career {
  padding: 0 80px 0 0;
}

.apply-tile-career-single {
  grid-row-gap: 32px;
  color: #fff;
  background-color: #5cc2c0;
  border-radius: 12px;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px;
  display: flex;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

.blog-tile {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  align-items: stretch;
  display: flex;
}

.wrap-legal-text {
  width: 100%;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.fs-cc-banner_trigger {
  display: none;
}

.cta-2 {
  height: 68px;
  color: #f0f0f0;
  background-color: #151515;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 18px;
  display: flex;
}

.cta-2.white-cta {
  color: #151515;
  background-color: #fff;
  font-weight: 400;
}

.paragraph-big-2 {
  font-size: 18px;
  line-height: 152%;
}

.content-wrap-hero-home-a-2 {
  grid-row-gap: 120px;
  color: #fff;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.space-70 {
  height: 36px;
}

.header-a-row-2 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: #262626;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  display: flex;
}

.h1-mega {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 54px;
  line-height: 140%;
}

.grid-halves-2 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
}

.contact-icon {
  width: 22px;
}

.legal-rich-text-block h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 32px;
}

.legal-rich-text-block h2 {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 24px;
}

.legal-rich-text-block p {
  margin-bottom: 14px;
}

.legal-rich-text-block strong {
  font-weight: 500;
}

.legal-rich-text-block li {
  margin-top: 2px;
  margin-bottom: 19px;
}

.fs-cc-banner_component {
  width: 625px;
  background-color: #fdfdfd;
  border-radius: 10px;
  padding: 25px;
  display: none;
  position: fixed;
  top: auto;
  bottom: 30px;
  left: auto;
  right: 30px;
  box-shadow: 3px 3px 10px rgba(163, 163, 163, .1);
}

.cookie-content {
  align-items: center;
  display: flex;
}

.learn-more-span {
  color: var(--black);
  text-decoration: underline;
}

.cookie-text {
  color: #333;
  margin-bottom: 12px;
}

.cookie-button-blue {
  background-color: var(--black);
  color: #fff;
  border-radius: 5px;
  margin-right: 20px;
  padding-left: 56px;
  padding-right: 56px;
}

.cookie-button-blue:hover {
  border-bottom-style: solid;
  border-bottom-color: #203492;
}

.cookie-title {
  color: var(--black);
  margin-bottom: 8px;
  font-weight: 500;
}

.cookie-button-transparent {
  color: var(--black);
  margin-left: 10px;
  text-decoration: none;
}

.nav-social-media-wrapper {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  align-items: center;
  display: flex;
}

.nav-social-icon {
  width: 17px;
}

.utility-page-wrap {
  width: 100vw;
  height: 90vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  margin-top: 60px;
  display: flex;
}

.utility-icon {
  width: 42px;
  margin-left: auto;
  margin-right: auto;
}

.expectation-tile {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.grid-features-thirds {
  grid-column-gap: 20px;
  grid-row-gap: 38px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.limit-360 {
  width: 100%;
  max-width: 360px;
}

.heading-wrap-expectations {
  margin-bottom: 64px;
}

.feature-content {
  grid-row-gap: 10px;
  flex-direction: column;
  display: flex;
}

.text-heading-3 {
  color: var(--black);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.icon-2 {
  width: 40px;
  height: 40px;
  background-color: #151515;
  border-radius: 8px;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.icon-2.accent {
  background-color: #5cc2c0;
}

.service-icon {
  width: 18px;
}

.service-icon.large {
  width: 20px;
}

.service-icon.small {
  width: 17px;
}

@media screen and (max-width: 991px) {
  .nav-menu {
    width: 98%;
    max-height: 80vh;
    max-width: 400px;
    background-color: #1a1a1a;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-left: auto;
    margin-right: 24px;
    padding: 24px;
    display: flex;
    overflow: scroll;
  }

  .section.home-a-header {
    padding-bottom: 80px;
  }

  .title-wrap-home-a {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .grid-halves {
    grid-row-gap: 48px;
    grid-template-columns: 1fr;
  }

  .image.hero {
    height: 100%;
  }

  .contact-flex {
    flex-direction: column;
    align-items: center;
  }

  .team-gallery-wrap {
    grid-template-columns: 1fr;
  }

  .grid-thirds.pricing-thirds {
    width: 100%;
    max-width: 600px;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .expandable-single {
    padding-right: 4px;
  }

  .link-contact-tile {
    width: 100%;
  }

  .master-contact-tiles {
    max-width: 600px;
    align-items: center;
    padding-left: 0;
  }

  .contact-form-wrap-version-two {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
  }

  .grid-contact {
    grid-row-gap: 64px;
    grid-template-columns: 1fr;
  }

  .column-left-single-career {
    padding-left: 24px;
    padding-right: 24px;
  }

  .blog-tile {
    width: 100%;
    max-width: 480px;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .content-wrap-hero-home-a-2 {
    grid-row-gap: 64px;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
  }

  .header-a-row-2 {
    max-width: 600px;
  }

  .h1-mega {
    font-size: 48px;
  }

  .grid-halves-2 {
    grid-row-gap: 48px;
    grid-template-columns: 1fr;
  }

  .cookie-text {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 38px;
  }

  .cta {
    height: 56px;
    padding-left: 28px;
    padding-right: 28px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer-link-wrap {
    grid-row-gap: 80px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .text-heading-4 {
    font-size: 19px;
    line-height: 180%;
  }

  .grid-expectations-thirds {
    width: 100%;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-thirds {
    grid-template-columns: 1fr 1fr;
  }

  .column-left-single-career {
    padding: 0;
  }

  .cta-2 {
    height: 56px;
    padding-left: 28px;
    padding-right: 28px;
  }

  .h1-mega {
    font-size: 38px;
  }

  .fs-cc-banner_component {
    max-width: 90vw;
    bottom: 10px;
    right: 10px;
  }

  .cookie-content {
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .cookie-text {
    margin-bottom: 12px;
  }

  .cookie-title {
    margin-bottom: 8px;
  }

  .grid-features-thirds {
    width: 100%;
    max-width: 480px;
    grid-row-gap: 48px;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    color: var(--black);
    font-size: 28px;
  }

  h3 {
    color: var(--black);
  }

  .nav-menu {
    width: 94%;
    margin-right: auto;
  }

  .brand-link-navbar {
    height: auto;
    padding-left: 0;
  }

  .container-navbar {
    padding-left: 16px;
    padding-right: 16px;
  }

  .section.legal-section {
    padding-top: 120px;
  }

  .grid-halves {
    grid-template-columns: 1fr;
  }

  .card-image {
    height: auto;
    flex-direction: column;
    display: flex;
  }

  .text-heading-4 {
    font-size: 18px;
    line-height: 170%;
  }

  .expectation-card {
    padding-left: 32px;
    padding-right: 32px;
  }

  .grid-expectations-thirds, .grid-thirds {
    grid-template-columns: 1fr;
  }

  .expandable-single {
    padding: 24px;
  }

  .input-wrap {
    margin-bottom: 16px;
  }

  .link-contact-tile {
    grid-row-gap: 16px;
    flex-direction: column;
    padding: 32px;
  }

  .column-left-single-career {
    padding-left: 0;
    padding-right: 0;
  }

  .apply-tile-career-single {
    grid-row-gap: 16px;
    padding: 32px;
  }

  .blog-tile {
    grid-row-gap: 24px;
  }

  .header-a-row-2 {
    grid-row-gap: 12px;
    flex-direction: column;
  }

  .h1-mega {
    margin-bottom: 24px;
    font-size: 38px;
  }

  .grid-halves-2 {
    grid-template-columns: 1fr;
  }

  .fs-cc-banner_component {
    width: 100%;
    max-width: none;
    bottom: 0;
    right: auto;
  }

  .cookie-content.mobile-vertical {
    flex-direction: column;
  }

  .cookie-text {
    margin-bottom: 14px;
  }

  .button-wrapper {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
  }

  .cookie-button-blue {
    text-align: center;
    margin-bottom: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .cookie-title {
    margin-bottom: 10px;
  }

  .cookie-button-transparent {
    text-align: center;
    margin-left: 0;
  }

  .nav-social-media-wrapper {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .grid-features-thirds {
    grid-template-columns: 1fr;
  }

  .text-heading-3 {
    font-size: 20px;
    line-height: 30px;
  }
}

#w-node-_76a502f9-9e4c-ad16-7534-6604c795ab71-4230b3c3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_76a502f9-9e4c-ad16-7534-6604c795ab80-4230b3c3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: end;
}

#w-node-_92185eed-19fc-79bd-07a6-b1490b5aec19-4230b3c3 {
  align-self: start;
  justify-self: start;
}

#w-node-_92185eed-19fc-79bd-07a6-b1490b5aec1b-4230b3c3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}

#w-node-_3a169125-673f-a5f1-4e18-c2ad09462ed6-4230b3c3, #w-node-_3a169125-673f-a5f1-4e18-c2ad09462ecd-4230b3c3, #w-node-_3a169125-673f-a5f1-4e18-c2ad09462edf-4230b3c3, #w-node-_11d6d840-d501-0be5-343a-e3be66928810-4230b3c3, #w-node-c6025890-dd51-6c3d-2eed-86f7d400a60a-4230b3c3, #w-node-b35339c9-f6e9-befb-6262-d74f56d270e8-4230b3c3, #w-node-_85f80ab3-1838-5cdc-37d6-d667c9fe8693-4230b3c3, #w-node-_85f80ab3-1838-5cdc-37d6-d667c9fe869b-4230b3c3, #w-node-_85f80ab3-1838-5cdc-37d6-d667c9fe868b-4230b3c3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_4c60a717-fd7c-b657-5496-c63213549b43-4230b3c3 {
  align-self: center;
}

#w-node-_4c60a717-fd7c-b657-5496-c63213549b48-4230b3c3 {
  align-self: start;
}

#w-node-_1d6326b9-7728-a64e-366a-cd7c10d6981f-4230b3c3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: center;
}

#w-node-_23874535-7a36-9599-623e-fd875842bce8-5842bcb9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_23874535-7a36-9599-623e-fd875842bcf1-5842bcb9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}

@media screen and (max-width: 991px) {
  #w-node-_76a502f9-9e4c-ad16-7534-6604c795ab80-4230b3c3 {
    justify-self: center;
  }
}


@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}