:root {
  --body: #333;
  --title: #000;
  --desktop-space: 150px;
  --white-smoke: #f7f7f7;
  --tablet-space: 100px;
  --landscape-mobile-space: 80px;
  --portrait-mobile-space: 60px;
  --black: black;
  --white: white;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: var(--body);
  font-family: Switzer, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
}

h1 {
  color: var(--title);
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2;
}

h2 {
  color: var(--title);
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 400;
  line-height: 1.5;
}

p {
  margin-bottom: 14px;
}

a {
  text-decoration: underline;
}

strong {
  font-weight: 500;
}

.navbar {
  background-color: #0000;
  border-bottom: 1px solid #0003;
  padding-top: 14px;
  padding-bottom: 14px;
}

.hero-img {
  background-color: #e7e7e7;
  border-radius: 10px;
  width: 100%;
  padding: 32px 32px 0;
  position: relative;
  overflow: hidden;
}

.hero-tagline {
  grid-column-gap: 6px;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  display: flex;
}

.hero {
  margin-bottom: var(--desktop-space);
  background-color: var(--white-smoke);
  padding-bottom: 80px;
}

.hero-data {
  width: 100%;
  max-width: 55%;
}

.hero-text {
  width: 100%;
  max-width: 70%;
  margin-bottom: 0;
}

.hero-title {
  margin-bottom: 24px;
  font-size: 64px;
}

.on-scroll {
  background-color: #f5f5f3;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  inset: 0%;
}

.bottom-line {
  background-color: #000;
  width: 24px;
  height: 1px;
  margin-top: 6px;
}

.hero-wrap {
  grid-column-gap: 80px;
  align-items: center;
  margin-top: 60px;
  display: flex;
}

.navbar-wrap {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.contact-mail {
  grid-column-gap: 10px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  color: #fff;
  background-color: #ffffff0f;
  border: 1px solid #ffffff4d;
  border-radius: 50px;
  align-items: center;
  padding: 18px 26px;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  transition: background-color .3s;
  display: flex;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.contact-mail:hover {
  background-color: #ffffff24;
}

.contact-mail.left {
  background-color: #6161610f;
  font-weight: 400;
  left: 30px;
  right: auto;
}

.contact-mail.left.mail.darker {
  background-color: #0000001a;
  border-color: #fff6;
}

.contact-mail.left {
  transition-property: all;
  transition-duration: .15s;
  left: 30px;
  right: auto;
}

.contact-mail.left:hover {
  transform: scale(1.02);
}

.contact-mail.left.whatsapp {
  background-color: #25d3664d;
  border-color: #25d366cc;
}

.contact-mail.left.mail {
  bottom: 92px;
}

.container {
  width: 100%;
  max-width: 1336px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-right {
  grid-column-gap: 50px;
  align-items: center;
  display: flex;
}

.hero-right {
  width: 100%;
  max-width: 45%;
}

.tag-dot {
  background-color: #54daa3;
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

.hero-btn-wrap {
  margin-top: 36px;
}

.nav-menu-link {
  color: #000;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  display: flex;
}

.hero-image {
  width: 100%;
}

.humburg-menu {
  margin-left: 10px;
}

.humburg-menu.w--open {
  background-color: #0000;
  padding-left: 0;
}

.middle-line {
  background-color: #000;
  width: 24px;
  height: 1px;
}

.primary-btn {
  color: #000;
  text-align: center;
  background-color: #0000;
  border: 1px solid #000;
  border-radius: 50px;
  justify-content: center;
  padding: 18px 26px;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  transition: color .3s, background-color .3s;
  display: inline-block;
}

.primary-btn:hover {
  color: #fff;
  background-color: #000;
}

.primary-btn.black {
  background-color: var(--black);
  color: var(--white);
  font-weight: 400;
}

.primary-btn.black:hover {
  color: var(--black);
  background-color: #0000;
}

.top-line {
  background-color: #000;
  width: 24px;
  height: 1px;
  margin-bottom: 6px;
}

.header-btn {
  color: #fff;
  text-align: center;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 50px;
  justify-content: center;
  padding: 14px 25px;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  transition: background-color .3s, border-color .3s, color .3s;
  display: flex;
}

.header-btn:hover {
  color: #000;
  background-color: #0000;
  border: 1px solid #000;
}

.nav-menu {
  align-items: center;
  display: flex;
}

.about-me-wrap {
  grid-row-gap: 0px;
  flex-direction: column;
  display: block;
}

.about-city {
  font-size: 24px;
  line-height: 150%;
}

.about-btm {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.about-btm.align-right {
  justify-content: flex-end;
}

.secondary-btn {
  grid-column-gap: 10px;
  color: #000;
  text-align: center;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50px;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding: 18px 26px;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  transition: color .3s, background-color .3s;
  display: flex;
}

.secondary-btn:hover {
  color: #fff;
  background-color: #000;
}

.secondary-btn.hide {
  display: none;
}

.am-text {
  margin-bottom: 32px;
}

.am-text.margin-bottom-16 {
  margin-bottom: 16px;
}

.am-data {
  width: 100%;
  max-width: 936px;
}

.about-me {
  margin-bottom: var(--desktop-space);
  padding-bottom: 40px;
}

.tool-block {
  grid-column-gap: 8px;
  border: 1px solid #0003;
  border-radius: 50px;
  align-items: center;
  padding: 10px 24px;
  font-size: 14px;
  display: flex;
}

.tool-inner.hide {
  display: none;
}

.tool-wrapper {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 70%;
  margin-top: 22px;
  display: flex;
}

.error-message {
  text-align: center;
  padding: 20px;
}

.social {
  grid-column-gap: 2px;
  color: var(--body);
  align-items: center;
  margin-top: 16px;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  display: flex;
}

.connect-left {
  width: 100%;
  max-width: 40%;
}

.service-input {
  background-color: #0000;
  border: 0 solid #000;
  border-bottom-width: 1px;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.service-input:focus {
  border-bottom-color: #000;
}

.contact-form {
  margin-bottom: 0;
}

.textarea {
  border: 0 solid #000;
  border-bottom-width: 1px;
  width: 100%;
  height: auto;
  min-height: 140px;
  margin-bottom: 0;
  padding: 0 0 14px;
}

.textarea:focus {
  border-bottom-width: 1px;
  border-bottom-color: #000;
}

.connect-img {
  background-color: #f5f5f3;
  border-radius: 10px;
  margin-bottom: 16px;
  position: relative;
  overflow: hidden;
}

.connect-right {
  width: 100%;
  max-width: 60%;
}

.connect-wrap {
  grid-column-gap: 70px;
  align-items: center;
  display: flex;
}

.contact-section {
  margin-bottom: var(--desktop-space);
}

.social-wrap {
  grid-column-gap: 45px;
  grid-row-gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 18px;
  display: flex;
}

.form-wrap {
  grid-row-gap: 50px;
  flex-direction: column;
  display: flex;
}

.connect-image {
  object-fit: cover;
  object-position: 50% 30%;
  width: 100%;
  height: 500px;
}

.field-label {
  text-align: left;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 170%;
}

.input {
  border: 0 solid #000;
  border-bottom-width: 1px;
  margin-bottom: 0;
  padding: 0 0 14px;
}

.input:focus {
  border-bottom-color: #000;
}

.input::placeholder {
  color: #888;
  text-align: left;
  font-size: 14px;
  line-height: 150%;
}

.two-field {
  grid-column-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: grid;
}

.success-message {
  color: #fff;
  background-color: #000;
}

.section-title {
  margin-bottom: 40px;
}

.section-title.small {
  font-size: 28px;
}

.button-wrap {
  grid-column-gap: 20px;
  align-items: center;
  margin-top: 40px;
  display: flex;
}

.button-wrap.right {
  justify-content: flex-end;
}

.footer {
  background-color: #000;
}

.ft-logo {
  width: 120px;
}

.ft-contact-wrap {
  grid-column-gap: 60px;
  color: #fff;
  align-items: flex-start;
  margin-top: 20px;
  display: flex;
}

.ft-btm {
  color: #fff;
  border-top: 1px solid #fff3;
  margin-top: 120px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.ft-btn-wrap {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.ft-link {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  line-height: 100%;
  text-decoration: none;
  transition: color .3s;
}

.ft-link:hover {
  color: #b2b2b2;
}

.ft-link.top {
  padding-top: 0;
}

.ft-link.last {
  padding-bottom: 0;
}

.ft-data {
  justify-content: space-between;
  margin-top: 60px;
  display: flex;
}

.ft-address {
  width: 100%;
  max-width: 280px;
  font-size: 18px;
}

.ft-mail {
  color: #fff;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  transition: color .3s;
}

.ft-mail:hover {
  color: #b2b2b2;
}

.ft-link-wrap {
  flex-direction: column;
  display: flex;
}

.ft-btm-link {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.ft-btm-link:hover {
  text-decoration: underline;
}

.ft-wrap {
  flex-direction: column;
  margin-top: 70px;
  display: flex;
}

.mail-wrap {
  grid-row-gap: 6px;
  flex-direction: column;
  display: flex;
}

.ft-text {
  font-size: 14px;
  line-height: 150%;
}

.connect-link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.connect-link:hover {
  text-decoration: underline;
}

.ft-right {
  grid-column-gap: 95px;
  display: flex;
}

.nav-logo {
  width: 90px;
}

.contact-social-icon {
  object-fit: contain;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.contact-social-icon.large {
  width: 18px;
  height: 18px;
}

.tools-icon {
  object-fit: contain;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 85vh;
  max-height: 100%;
  display: flex;
}

.error-data {
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.error-text {
  margin-top: 32px;
  margin-bottom: 32px;
}

.utility-image {
  width: 100px;
}

.section {
  z-index: 1;
  padding-top: 80px;
  padding-bottom: 80px;
}

.section.legal-section {
  padding-top: 60px;
  padding-bottom: 100px;
}

.main-container {
  max-width: 1348px;
  padding-left: 24px;
  padding-right: 24px;
}

.wrap-legal-text {
  width: 100%;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.legal-rich-text-block h1 {
  font-size: 36px;
}

.legal-rich-text-block h2 {
  margin-top: 20px;
  margin-bottom: 14px;
  font-size: 24px;
}

.legal-rich-text-block strong {
  color: var(--title);
  font-weight: 500;
}

.legal-rich-text-block li {
  margin-bottom: 10px;
}

.legal-rich-text-block a {
  color: var(--title);
}

.learn-more-span {
  color: #151515;
  text-decoration: underline;
}

.cookie-text {
  color: #333;
  margin-bottom: 12px;
}

.fs-cc-banner_component {
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  width: 625px;
  padding: 25px;
  display: none;
  position: fixed;
  inset: auto 30px 30px auto;
}

.cookie-content {
  align-items: center;
  display: flex;
}

.cookie-button-blue {
  color: #fff;
  background-color: #5cc2c0;
  border-radius: 5px;
  margin-right: 20px;
  padding-left: 56px;
  padding-right: 56px;
}

.cookie-button-blue:hover {
  border-bottom-style: solid;
  border-bottom-color: #203492;
}

.cookie-title {
  color: #151515;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.cookie-button-transparent {
  color: #151515;
  margin-left: 10px;
  text-decoration: none;
}

.wp-data {
  margin-top: 32px;
}

.single-text-2 {
  margin-bottom: 0;
}

.service-icon {
  width: 48px;
  height: 48px;
}

.wp-title {
  color: var(--title);
  margin-bottom: 12px;
  font-weight: 400;
}

.work-process {
  background-color: var(--white-smoke);
  margin-bottom: 150px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.wp-wrap {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.work-process-block {
  background-color: #fff;
  border-radius: 10px;
  padding: 32px;
}

.section-title-2 {
  margin-bottom: 40px;
}

.whatsapp-block {
  z-index: 30;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  position: fixed;
  inset: auto 30px 92px auto;
}

.profile-wrapper {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  display: flex;
}

.chat-block {
  background-color: #fff;
  border-radius: 8px;
  width: 80%;
  padding: 15px;
}

.live-chat-text {
  color: #fff;
  text-decoration: none;
}

.profile-image-wrapper-2 {
  position: relative;
}

.live-icon-chat {
  object-fit: contain;
  object-position: 50% 0%;
  background-color: #eee;
  border-radius: 50%;
  width: 47px;
  height: 47px;
  margin-right: 0;
}

.top-section {
  justify-content: space-between;
  align-items: center;
  height: 25%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.live-icon {
  background-color: #25d366;
  border-radius: 100%;
  width: 13px;
  height: 13px;
  position: absolute;
  inset: 2px auto auto 2px;
}

.live-icon.profile-live-icon {
  border: 1.5px solid #fff;
  width: 10px;
  height: 10px;
  inset: auto 2px 2px auto;
}

.chat-section {
  background-color: #e6ddd4;
  height: 50%;
  padding: 16px 20px;
}

.close-livechat-icon {
  width: auto;
  height: auto;
}

.whatsapp-icon {
  width: 26px;
  height: auto;
}

.whatsapp-chat {
  background-color: #fff;
  border: 1px solid #00000012;
  border-radius: 20px;
  flex-direction: column;
  width: 300px;
  height: 315px;
  margin-bottom: 16px;
  display: flex;
  overflow: hidden;
}

.live-chat-bottom-text {
  font-size: 10px;
}

.live-chat-bottom-text.block {
  margin-bottom: 5px;
  font-size: 12px;
}

.live-chat-top-text {
  letter-spacing: 0;
  font-size: 12px;
  font-weight: 500;
  position: static;
}

.live-chat-top-text.block {
  color: #b0b0b0;
  margin-bottom: 10px;
  font-size: 12px;
}

.livechat-button {
  background-color: #25d366;
  border-radius: 200px;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 42px;
  text-decoration: none;
  display: flex;
}

.whatsapp-container {
  z-index: 30;
  cursor: pointer;
  background-color: #000;
  border: 1px solid #272727;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 57px;
  transition: all .15s;
  display: flex;
  position: relative;
  inset: auto 0% 0% auto;
}

.whatsapp-container:hover {
  background-color: #333;
  border-color: #333;
  transform: scale(1.02);
}

.live-chat-link {
  border-radius: 0;
  justify-content: center;
  align-items: center;
  height: 25%;
  text-decoration: none;
  display: flex;
}

.close-live-chat-container {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  display: flex;
}

.small-whatsapp-icon {
  object-fit: contain;
  width: auto;
  height: auto;
  margin-right: 10px;
}

.companies-grid {
  grid-column-gap: 48px;
  grid-row-gap: 64px;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: flex;
}

.company-logo {
  object-fit: contain;
  width: 130px;
  height: 35px;
  margin-right: 32px;
}

.company-logo.lannentilan-leipomo {
  height: 55px;
}

.company-logo.kuntotarkastustalo {
  width: 180px;
}

.black-link {
  color: var(--black);
  margin-top: 16px;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

.close-overlay {
  z-index: 9;
  opacity: .25;
  cursor: pointer;
  position: absolute;
  inset: 0;
}

.modal-scroll {
  width: 100%;
  min-height: 100vh;
  padding: 50px 50px 100px;
  position: absolute;
}

.hide-me-overlay {
  z-index: 8888;
  background-color: #00000040;
  display: none;
  position: fixed;
  inset: 0;
  overflow: auto;
}

.hide-me-overlay.web-development, .hide-me-overlay.search-engine-optimization, .hide-me-overlay.email-list {
  display: none;
}

.upgrade-accent {
  background-color: var(--black);
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.upgrade-container {
  z-index: 10;
  background-color: #fff;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 50px 50px;
  font-weight: 300;
  display: block;
  position: relative;
  overflow: hidden;
}

.h2-small {
  font-size: 24px;
}

.schedule-link-block {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid #272727;
  border-radius: 50px;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 24px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  transition: all .15s;
  display: flex;
  position: fixed;
  inset: auto 30px 30px auto;
}

.schedule-link-block:hover {
  background-color: #333;
  transform: scale(1.02);
}

.schedule-link-block.hide {
  display: none;
}

.grid-fourths {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-fourths.pricing-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1.4fr 1fr 1fr 1fr;
}

.cell-content {
  margin-bottom: 0;
}

.cell {
  border-top: 1px solid #19273326;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 92px;
  display: flex;
}

.cell.top-cell {
  border-top-style: none;
  border-bottom: 1px solid #19273326;
  align-items: center;
}

.cell.top-cell.left-align {
  justify-content: center;
  align-items: flex-start;
}

.cell.centered-cell {
  align-items: center;
}

.paragraph-big {
  font-size: 18px;
}

.cell-legend-text {
  font-size: 14px;
  font-weight: 500;
}

.cell-legend-text.subtext {
  margin-top: 4px;
  font-weight: 400;
  line-height: 1.4;
}

.image {
  object-fit: contain;
  width: 180px;
}

.certificate-wrapper {
  grid-column-gap: 42px;
  grid-row-gap: 42px;
  align-items: center;
  margin-top: 60px;
  display: flex;
}

.certificate-wrapper.hide {
  display: none;
}

.contact-icon {
  width: 14px;
  height: 14px;
}

@media screen and (min-width: 1280px) {
  .hero-img {
    padding-top: 32px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media screen and (min-width: 1920px) {
  .whatsapp-chat {
    display: none;
  }

  .livechat-button {
    transition: all .2s;
  }

  .livechat-button:hover {
    background-color: #000;
    transform: scale(1.05);
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    background-color: #fff;
  }

  .hero {
    margin-bottom: var(--tablet-space);
    padding-bottom: 60px;
  }

  .hero-data {
    max-width: 100%;
  }

  .hero-title {
    font-size: 46px;
  }

  .on-scroll {
    background-color: #f5f5f3;
  }

  .bottom-line {
    background-color: #000;
    width: 25px;
  }

  .hero-wrap {
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    margin-top: 60px;
  }

  .container {
    max-width: 100%;
  }

  .nav-right {
    background-color: #fff;
    border-bottom: 1px solid #0003;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-right {
    max-width: 100%;
  }

  .nav-menu-link {
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 18px 0;
  }

  .humburg-menu {
    grid-row-gap: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0;
    padding: 0;
  }

  .middle-line, .top-line {
    background-color: #000;
    width: 25px;
  }

  .header-btn {
    margin-top: 6px;
  }

  .nav-menu {
    flex-direction: column;
  }

  .am-data {
    max-width: 100%;
  }

  .about-me {
    margin-bottom: var(--tablet-space);
  }

  .tool-inner {
    margin-top: 30px;
  }

  .tool-wrapper {
    width: auto;
  }

  .connect-left {
    max-width: 100%;
  }

  .textarea {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .connect-right {
    max-width: 100%;
  }

  .connect-wrap {
    grid-column-gap: 0px;
    grid-row-gap: 40px;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-section {
    margin-bottom: var(--tablet-space);
  }

  .ft-logo {
    width: 100%;
    max-width: 25%;
  }

  .ft-contact-wrap {
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    flex-direction: column;
  }

  .ft-btm {
    margin-top: 80px;
  }

  .ft-wrap {
    margin-top: 60px;
  }

  .ft-right {
    grid-column-gap: 70px;
  }

  .cookie-text {
    margin-bottom: 12px;
  }

  .work-process {
    margin-bottom: 100px;
  }

  .wp-wrap {
    grid-template-columns: 1fr 1fr;
  }

  .whatsapp-block {
    bottom: 82px;
    right: 20px;
  }

  .modal-scroll {
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .schedule-link-block {
    bottom: 20px;
    right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .brand {
    padding-left: 0;
  }

  .navbar {
    max-width: 100%;
  }

  .hero-img {
    height: 550px;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .hero {
    margin-bottom: var(--landscape-mobile-space);
  }

  .hero-text {
    max-width: 100%;
  }

  .hero-title {
    margin-bottom: 20px;
    font-size: 50px;
  }

  .hero-wrap {
    flex-flow: column-reverse;
  }

  .hero-btn-wrap {
    margin-top: 40px;
  }

  .humburg-menu {
    position: relative;
  }

  .humburg-menu.w--open {
    z-index: 10;
  }

  .about-me, .contact-section {
    margin-bottom: var(--landscape-mobile-space);
  }

  .two-field {
    grid-column-gap: 30px;
    grid-template-rows: auto;
  }

  .section-title {
    font-size: 28px;
  }

  .button-wrap {
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    flex-direction: column;
    align-items: flex-start;
  }

  .ft-logo {
    width: 100%;
    max-width: 25%;
  }

  .ft-contact-wrap {
    flex-direction: row;
    justify-content: space-between;
  }

  .ft-btm {
    margin-top: 60px;
  }

  .ft-btn-wrap {
    grid-row-gap: 15px;
    flex-direction: column;
    align-items: flex-start;
  }

  .ft-data {
    grid-row-gap: 50px;
    flex-direction: column;
    margin-top: 50px;
  }

  .ft-address {
    font-size: 16px;
  }

  .error-data {
    max-width: 90%;
  }

  .cookie-text {
    margin-bottom: 12px;
  }

  .fs-cc-banner_component {
    max-width: 90vw;
    bottom: 10px;
    right: 10px;
  }

  .cookie-content {
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .cookie-title, .wp-title {
    margin-bottom: 8px;
  }

  .work-process {
    margin-bottom: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .wp-wrap {
    grid-column-gap: 0px;
    grid-template-columns: 1fr;
  }

  .section-title-2, .heading-2 {
    font-size: 32px;
  }

  .whatsapp-block {
    bottom: 76px;
    right: 15px;
  }

  .modal-scroll {
    overflow: auto;
  }

  .upgrade-container {
    flex-direction: column;
    margin-bottom: 70px;
    padding-top: 50px;
    padding-left: 7%;
    padding-right: 7%;
  }

  .schedule-link-block {
    bottom: 15px;
    right: 15px;
  }

  .grid-fourths, .grid-fourths.pricing-grid {
    grid-template-columns: 1fr 1fr;
  }

  .cell.top-cell.hide-mobile, .cell.centered-cell.hide-mobile {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    background-color: #fff0;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .hero-img {
    height: auto;
    padding-top: 16px;
    padding-left: 46px;
    padding-right: 46px;
  }

  .hero {
    margin-bottom: var(--portrait-mobile-space);
    padding-bottom: 40px;
  }

  .hero-text {
    font-size: 14px;
  }

  .hero-title {
    margin-bottom: 15px;
    font-size: 32px;
  }

  .hero-wrap {
    grid-row-gap: 30px;
    margin-top: 40px;
  }

  .contact-mail {
    padding: 14px 22px;
    bottom: 20px;
    right: 20px;
  }

  .contact-mail.left {
    left: 20px;
  }

  .hero-btn-wrap {
    margin-top: 20px;
  }

  .hero-image {
    object-fit: cover;
  }

  .primary-btn {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .about-city {
    text-align: right;
    width: 100%;
    font-size: 16px;
    display: none;
  }

  .about-btm {
    grid-row-gap: 40px;
    flex-direction: column;
    align-items: flex-start;
  }

  .secondary-btn {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .am-text {
    margin-bottom: 10px;
  }

  .about-me {
    margin-bottom: var(--portrait-mobile-space);
    padding-bottom: 10px;
  }

  .tool-block {
    padding: 8px 20px;
    font-size: 14px;
    line-height: 150%;
  }

  .tool-wrapper {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 15px;
  }

  .contact-section {
    margin-bottom: var(--portrait-mobile-space);
  }

  .social-wrap {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .form-wrap {
    grid-row-gap: 30px;
  }

  .connect-image {
    height: 100%;
  }

  .two-field {
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  .section-title {
    margin-bottom: 20px;
  }

  .button-wrap {
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .ft-logo {
    max-width: 120px;
  }

  .ft-contact-wrap {
    flex-direction: column;
  }

  .ft-btm {
    margin-top: 50px;
  }

  .ft-link {
    font-size: 20px;
  }

  .ft-data {
    margin-top: 40px;
  }

  .ft-wrap {
    margin-top: 50px;
  }

  .ft-right {
    grid-column-gap: 80px;
  }

  .nav-logo {
    width: 100px;
  }

  .error-text {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .section.legal-section {
    padding-top: 120px;
  }

  .button-wrapper {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
  }

  .cookie-text {
    margin-bottom: 14px;
  }

  .fs-cc-banner_component {
    width: 100%;
    max-width: none;
    bottom: 0;
    right: auto;
  }

  .cookie-content.mobile-vertical {
    flex-direction: column;
  }

  .cookie-button-blue {
    text-align: center;
    margin-bottom: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .cookie-title {
    margin-bottom: 10px;
  }

  .cookie-button-transparent {
    text-align: center;
    margin-left: 0;
  }

  .wp-title {
    font-size: 18px;
  }

  .work-process {
    margin-bottom: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .work-process-block {
    padding: 25px;
  }

  .section-title-2 {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .heading-2 {
    font-size: 24px;
  }

  .whatsapp-block {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 62px;
    right: 0;
  }

  .whatsapp-icon {
    width: 26px;
  }

  .whatsapp-chat {
    width: 100%;
    height: 40vh;
    position: relative;
  }

  .whatsapp-container {
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 0;
  }

  .companies-grid {
    grid-column-gap: 0px;
    grid-row-gap: 42px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .company-logo {
    object-position: 0% 50%;
    width: 82px;
    height: 32px;
    margin-right: 0;
  }

  .upgrade-container {
    margin-bottom: 0;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .schedule-link-block {
    bottom: 10px;
    right: 10px;
  }

  .grid-fourths {
    grid-template-columns: 1fr;
  }

  .grid-fourths.pricing-grid {
    grid-template-columns: 1.4fr 1fr;
  }

  .cell {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#w-node-_87215c25-1302-1b37-a1fe-8156a6556f1a-8070e425, #w-node-_730f6383-5ba7-1490-4afd-4df3148a4730-8070e425, #w-node-b2054b89-5627-4ada-880c-fe47e89bc164-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f1b-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f24-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f27-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f2a-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f2d-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f30-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f35-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f38-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f3b-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f3e-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f41-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f44-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f47-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f4a-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f4d-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f4f-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f51-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f53-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f56-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f58-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f5a-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f5c-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f5f-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f61-8070e425, #w-node-_87215c25-1302-1b37-a1fe-8156a6556f64-8070e425, #w-node-_3230f59f-9ac9-ccd7-21a3-060e645274df-8070e425, #w-node-_9da01bcf-49f8-d8e1-ea61-6afea1cb9c16-8070e425, #w-node-_1e412d30-581c-af87-d696-cb658d80a0cc-8070e425, #w-node-_3b6acb09-d250-2220-3a33-798c537e274f-8070e425 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_03cf17b6-68ab-b0ce-6dd0-79451843c682-8070e425 {
  justify-self: center;
}

@media screen and (max-width: 479px) {
  #w-node-_03cf17b6-68ab-b0ce-6dd0-79451843c682-8070e425 {
    justify-self: auto;
  }

  #w-node-_03cf17b6-68ab-b0ce-6dd0-79451843c684-8070e425 {
    justify-self: center;
  }

  #w-node-_03cf17b6-68ab-b0ce-6dd0-79451843c685-8070e425 {
    justify-self: end;
  }

  #w-node-_03cf17b6-68ab-b0ce-6dd0-79451843c686-8070e425 {
    justify-self: start;
  }

  #w-node-_03cf17b6-68ab-b0ce-6dd0-79451843c687-8070e425 {
    justify-self: center;
  }

  #w-node-_03cf17b6-68ab-b0ce-6dd0-79451843c688-8070e425 {
    justify-self: end;
  }

  #w-node-_03cf17b6-68ab-b0ce-6dd0-79451843c689-8070e425 {
    justify-self: start;
  }

  #w-node-_03cf17b6-68ab-b0ce-6dd0-79451843c68a-8070e425 {
    justify-self: center;
  }

  #w-node-_03cf17b6-68ab-b0ce-6dd0-79451843c68b-8070e425 {
    justify-self: end;
  }

  #w-node-_03cf17b6-68ab-b0ce-6dd0-79451843c68c-8070e425 {
    justify-self: start;
  }

  #w-node-_03cf17b6-68ab-b0ce-6dd0-79451843c68d-8070e425 {
    justify-self: center;
  }
}


@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}