:root {
  --gray: grey;
  --primary: #171717;
  --hero: #a7a7a7;
  --white: white;
  --white-bg: #f8f8f8;
  --gray2: #858585;
  --border: #bebebe;
  --yellow-bg: white;
  --image-bg: #d9d9d9;
  --transparent: transparent;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: var(--gray);
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 160%;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
}

h2 {
  color: var(--primary);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 500;
  line-height: 110%;
}

p {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

.hero-tools {
  grid-row-gap: 20px;
  color: #fff;
  flex-flow: column;
  padding-top: 10px;
  padding-bottom: 100px;
  display: flex;
}

.tools-cover {
  width: 100%;
  max-width: 40px;
}

.tools-wrap {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.hero-wrap {
  grid-column-gap: 11px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  display: grid;
}

.hero-inner {
  grid-row-gap: 9px;
  flex-flow: column;
  display: flex;
}

.hero-image {
  width: 100%;
  height: 100%;
  padding-top: 130%;
  position: relative;
}

.hero-scroll {
  color: #fff;
  background-image: url('../images/scroll-down-icon.svg');
  background-position: 100%;
  background-repeat: no-repeat;
  padding-right: 25px;
  line-height: 160%;
  text-decoration: none;
}

.hero-heading {
  z-index: 1;
  color: #fff;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 500;
  line-height: 120%;
  position: relative;
}

.hero {
  background-color: var(--primary);
}

.hero-text {
  color: var(--hero);
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
}

.hero-outer {
  grid-row-gap: 60px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 604px;
  display: flex;
}

.cover-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: static;
}

.container {
  width: 100%;
  max-width: 1336px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.tools-card {
  grid-column-gap: 15px;
  background-color: #1f1f1f;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px;
  display: flex;
}

.caption {
  color: #141414;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 120%;
}

.caption.text-white {
  color: var(--white);
}

.menu-block {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.nav-top {
  grid-row-gap: 30px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.navbar-outer {
  height: 897px;
  display: flex;
}

.navbar {
  grid-column-gap: 100px;
  background-color: var(--primary);
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu-outer {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 13px;
  max-width: 13px;
  height: 7px;
  display: flex;
}

.nav-outer {
  grid-row-gap: 10px;
  color: #858585;
  background-color: #141414;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 50%;
  height: 100vh;
  padding: 40px 80px;
  display: flex;
  position: relative;
}

.navbar-btn {
  grid-column-gap: 10px;
  background-color: var(--primary);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 40px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 24px;
  text-decoration: none;
  transition: filter .3s;
  display: flex;
}

.navbar-btn:hover {
  filter: invert();
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.navbar-wrap {
  grid-column-gap: 100px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  display: grid;
}

.nav-link {
  color: #fff;
  margin-left: 0;
  margin-right: 0;
  padding: 0 38px 0 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
  transition: color .3s;
}

.nav-link:hover {
  color: #fff420;
  background-image: url('../images/nav-arrow-icon.svg');
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: auto;
}

.nav-link.w--current {
  color: #fff420;
}

.close-btn {
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
}

.close-btn.w--open {
  background-color: #141414;
  border: 1px solid #fff;
  border-radius: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  inset: 40px 40px auto auto;
}

.nav-right {
  flex-flow: column;
  display: flex;
}

.nav-menu {
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background-color: #00000080;
  flex-flow: column;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  inset: 0%;
}

.btn-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 136%;
}

.nav-bottom {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.menu-bottom {
  background-color: #fff;
  width: 100%;
  max-width: 13px;
  height: 1px;
}

.menu-button {
  border: 1px solid #fff;
  border-radius: 30px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
}

.menu-button.w--open {
  background-color: #0000;
}

.menu-top {
  background-color: #fff;
  width: 100%;
  max-width: 13px;
  height: 1px;
  margin-bottom: 3px;
}

.brand {
  margin-left: auto;
  margin-right: auto;
}

.navbar-link {
  color: #666;
  font-size: 16px;
  line-height: 160%;
  text-decoration: none;
}

.logo-flex {
  grid-column-gap: 2.7px;
  grid-row-gap: 2.7px;
  color: var(--white);
  flex-flow: column;
  align-items: center;
  display: flex;
}

.logo-upper {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 600;
  line-height: 100%;
}

.logo-lower {
  letter-spacing: 3px;
  margin-left: 3px;
  font-size: 10px;
  font-weight: 300;
  line-height: 1;
}

.text-block {
  color: var(--white);
  margin-top: -2px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
}

.logo {
  grid-template-rows: auto;
  grid-template-columns: 26px 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 171px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.logo.black {
  margin-top: 100px;
}

.about-section {
  text-transform: none;
  background-color: #f8f8f8;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-block {
  grid-column-gap: 100px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.about-data {
  grid-row-gap: 32px;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 608px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.body-large {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 160%;
  text-decoration: none;
}

.body-large.text-black {
  color: var(--primary);
}

.body-large.bottom-margin-16px {
  margin-bottom: 16px;
}

.primary-btn {
  grid-column-gap: 10px;
  color: #141414;
  background-color: #0000;
  background-image: url('../images/button-arrow-icon.svg');
  background-position: 85%;
  background-repeat: no-repeat;
  background-size: auto;
  border: 1px solid #000;
  border-radius: 40px;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 46px 10px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  text-decoration: none;
  transition: background-position .3s, color .3s, border-color .3s, background-color .3s;
  display: flex;
}

.primary-btn:hover {
  color: #fff;
  background-color: #141414;
  background-image: url('../images/button-arrow-icon-white.svg');
  background-position: 90%;
  border-color: #141414;
}

.primary-btn.whatsapp {
  color: #25d366;
  background-image: url('../images/WhatsApp-icon-green.svg');
  background-position: 90%;
  background-size: 18px 18px;
  border-color: #25d366;
}

.primary-btn.whatsapp:hover {
  color: #fff;
  background-color: #25d366;
  background-image: url('../images/WhatsApp-icon-white.svg');
  background-position: 90%;
}

.about-number {
  grid-column-gap: 80px;
  grid-row-gap: 40px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  max-width: 608px;
  display: grid;
}

.number-card {
  grid-row-gap: 10px;
  flex-flow: column;
  display: flex;
}

.dark-section {
  background-color: var(--primary);
  color: #858585;
  padding-top: 150px;
  padding-bottom: 150px;
}

.white-title-number {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 6px 18px;
  display: flex;
}

.body-small {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

.question-inner {
  grid-column-gap: 20px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.question-block {
  grid-column-gap: 12px;
  white-space: pre-wrap;
  width: 100%;
  padding: 30px 0 0;
  display: flex;
}

.question-block.top {
  justify-content: flex-start;
  align-items: center;
  padding-top: 0;
}

.plus-icon {
  width: 100%;
  max-width: 24px;
  height: 24px;
  margin-top: 0;
}

.mini-section-heading {
  width: 100%;
}

.answer-block {
  background-color: #0000;
  display: block;
  position: relative;
  overflow: hidden;
}

.text-white {
  color: #fff;
}

.faq-icon {
  justify-content: center;
  align-items: center;
  display: flex;
}

.what-outer {
  width: 100%;
}

.title-sub {
  grid-column-gap: 10px;
  color: #141414;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.title-outer {
  grid-row-gap: 32px;
  flex-flow: column;
  display: flex;
}

.service-title {
  color: #fff;
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.title-inner {
  grid-row-gap: 6px;
  text-transform: uppercase;
  flex-flow: column;
  display: flex;
}

.what-answer-block {
  padding-top: 26px;
  padding-bottom: 0;
}

.service-icon {
  color: var(--white);
  width: 40px;
}

.what-i-do {
  border-bottom: 1px solid #bebebe;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  display: flex;
}

.title-details {
  width: 100%;
  max-width: 980px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 160%;
}

.what-wrap {
  grid-column-gap: 100px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.section-heading {
  border-top: 1px solid #bebebe;
  width: 100%;
  padding-top: 15px;
}

.title {
  text-transform: uppercase;
}

.client-card {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 50px;
  display: flex;
}

.section {
  padding-top: 150px;
  padding-bottom: 150px;
  overflow: hidden;
}

.section.bg-white-bg {
  background-color: var(--white-bg);
}

.section.bg-yellow {
  background-color: #fff420;
}

.section.bg-yellow.hide {
  display: none;
}

.section.hero-subpage {
  padding-top: 100px;
}

.client-inner {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.client-outer {
  grid-row-gap: 80px;
  flex-flow: column;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.title-number {
  color: #141414;
  border: 1px solid #000;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 6px 18px;
  display: flex;
}

.cta-bottom {
  grid-column-gap: 120px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.cta-inner {
  grid-row-gap: 32px;
  flex-flow: column;
  display: flex;
}

.cta-top {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.cta-outer {
  grid-row-gap: 14px;
  flex-flow: column;
  display: flex;
}

.cta-btn {
  grid-column-gap: 10px;
  color: #141414;
  border: 1px solid #000;
  border-radius: 40px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 159px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  text-decoration: none;
  transition: background-color .3s, filter .3s;
  display: flex;
}

.cta-btn:hover {
  background-color: #fff;
}

.cta-title {
  text-transform: uppercase;
  max-width: 761px;
  font-size: 48px;
  line-height: 110%;
}

.footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}

.term-wrap {
  display: flex;
}

.footer-title {
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  max-width: 684px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 64px;
  font-weight: 500;
  line-height: 120%;
}

.term-left {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #858585;
  width: 100%;
  max-width: 50%;
  font-size: 14px;
  line-height: 160%;
  display: flex;
}

.social-link {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  text-decoration: none;
}

.social-link:hover {
  text-decoration: underline;
}

.footer {
  background-color: var(--primary);
}

.term-link {
  color: #858585;
  text-decoration: none;
  transition: color .3s;
}

.term-link:hover {
  color: #fff;
}

.footer-outer {
  grid-row-gap: 220px;
  flex-flow: column;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.term-right {
  grid-column-gap: 14px;
  justify-content: flex-end;
  width: 100%;
  max-width: 50%;
  display: flex;
}

.footer-right {
  grid-column-gap: 52px;
  width: 100%;
  max-width: 403px;
  display: flex;
}

.footer-left {
  grid-row-gap: 20px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 883px;
  display: flex;
}

.download-template {
  z-index: 999;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: #fff;
  border: 1px solid #0000001a;
  border-radius: 5px;
  justify-content: flex-start;
  align-items: center;
  padding: 6px;
  display: flex;
  position: fixed;
  bottom: 12px;
  right: 12px;
  box-shadow: 0 1px 6px #00000026;
}

.footer-icon {
  aspect-ratio: 1;
  width: 100%;
  max-width: 332px;
  display: none;
}

.footer-top {
  grid-column-gap: 10px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-link {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-inner {
  grid-column-gap: 60px;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 60px;
  display: flex;
}

.slide-image {
  grid-row-gap: 20px;
  aspect-ratio: 3 / 2;
  background-color: #d9d9d9;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.work-title {
  grid-row-gap: 5px;
  color: var(--primary);
  text-transform: capitalize;
  flex-flow: column;
  display: flex;
}

.slide-outer {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.slide-hover {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  text-align: center;
  background-color: #000000b3;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 120px;
  height: 120px;
  padding: 20px;
  display: flex;
  position: absolute;
}

.slide-wrap {
  grid-row-gap: 15px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
}

.slide-inner {
  flex: none;
  width: 100%;
}

.section-wrap {
  grid-row-gap: 80px;
  flex-flow: column;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.section-wrap.zero-pading {
  margin-top: 0;
  margin-bottom: 0;
}

.contain-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.absolute-cover-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.slide-hover-wrapper {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0%;
}

.text-block-2 {
  text-align: left;
}

.about-bottom {
  grid-column-gap: 20px;
  display: flex;
}

.slide-cover {
  background-color: #a7a7a7;
  width: 100%;
  display: none;
  position: absolute;
  inset: 0%;
}

.about-information {
  grid-column-gap: 80px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: stretch;
  display: grid;
}

.about-image {
  background-color: #d9d9d9;
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.secondary-btn {
  grid-column-gap: 10px;
  color: #fff;
  background-color: #141414;
  background-image: url('../images/button-arrow-icon-white.svg');
  background-position: 85%;
  background-repeat: no-repeat;
  background-size: auto;
  border: 1px solid #141414;
  border-radius: 40px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 50px 10px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 136%;
  text-decoration: none;
  transition: background-color .3s, background-position .3s, color .3s;
  display: flex;
}

.secondary-btn:hover {
  color: #141414;
  background-color: #fff;
  background-image: url('../images/button-arrow-icon.svg');
  background-position: 90%;
  border-color: #141414;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.cover-image-2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-me {
  grid-row-gap: 40px;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.social-outer {
  grid-column-gap: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.contact-image {
  background-color: #d9d9d9;
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.mini-section-heading-2 {
  border-top: 1px solid #666;
  width: 100%;
  padding-top: 14px;
}

.contact-wrap {
  grid-row-gap: 12px;
  flex-flow: column;
  display: flex;
}

.contact-info {
  grid-row-gap: 32px;
  flex-flow: column;
  display: flex;
}

.top-section {
  padding-top: 80px;
  padding-bottom: 150px;
}

.section-outer {
  grid-column-gap: 80px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.section-outer.top {
  grid-column-gap: 80px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.social-inner {
  border: 1px solid #000;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  transition: background-color .3s;
  display: flex;
  overflow: hidden;
}

.social-inner:hover {
  background-color: #d9d9d9;
}

.new-tag {
  color: #fff;
  background-color: #25d366;
  border-radius: 4px;
  margin-left: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10px;
  line-height: 1.6;
  display: inline-flex;
}

.paragraph-big {
  font-size: 18px;
}

.grid-fourths {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-fourths.pricing-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1.4fr 1fr 1fr 1fr;
  margin-top: -28px;
}

.cell-price {
  color: var(--primary);
  margin-bottom: 0;
  font-weight: 600;
}

.cell {
  border-top: 1px solid #19273326;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.cell.centered-cell {
  align-items: center;
}

.cell.top-cell {
  border-top-style: none;
  border-bottom: 1px solid #19273326;
  align-items: center;
}

.cell.top-cell.left-align {
  justify-content: center;
  align-items: flex-start;
}

.cell-legend-text {
  color: var(--primary);
  font-size: 16px;
  font-weight: 500;
}

.cell-legend-text.subtext {
  color: var(--gray);
  margin-top: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.pricing-grid-header {
  color: var(--primary);
  font-weight: 500;
}

.widget-wrapper {
  flex-flow: column;
  align-items: center;
  display: flex;
}

.h1-widget {
  color: var(--primary);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 600;
}

.widget-title-wrapper {
  text-align: center;
  flex-flow: column;
  align-items: center;
  width: 100%;
  max-width: 650px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.certificate-wrapper {
  grid-column-gap: 42px;
  grid-row-gap: 42px;
  align-items: center;
  margin-top: 60px;
  display: flex;
}

.image {
  object-fit: contain;
  width: 180px;
}

.hero-icon {
  background-color: #fff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 6px;
  display: flex;
}

.hero-icon.google-firebase {
  background-color: #049be5;
}

.hero-icon.webflow {
  background-color: #146ef4;
}

.hero-icon.apollo {
  background-color: #f7ca3e;
}

.image-2 {
  object-fit: contain;
}

.text-black {
  color: var(--primary);
}

.two-button-flex {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  align-items: center;
  display: flex;
}

.contact-icon {
  width: 16px;
  height: 16px;
}

.contact-text-block {
  font-size: 14px;
  font-weight: 600;
}

.whatsapp-profile-image {
  display: none;
}

.h2-styling {
  color: var(--primary);
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 500;
  line-height: 110%;
}

.space {
  height: 24px;
}

.space._48 {
  height: 48px;
}

.h1-small {
  color: var(--primary);
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 600;
  line-height: 110%;
}

.large-title-wrapper {
  margin-bottom: 80px;
}

.logo-upload {
  display: none;
}

@media screen and (min-width: 1280px) {
  h2, p {
    margin-bottom: 16px;
  }

  .hero-image {
    padding-top: 120%;
  }

  .hero-heading {
    font-size: 96px;
  }

  .client-card {
    padding: 40px 80px;
  }

  .slide-outer {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
  }

  .section-outer.top {
    grid-column-gap: 100px;
  }

  .paragraph-big.text-black {
    color: var(--primary);
  }

  .cell {
    height: auto;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .cell-legend-text {
    margin-bottom: 8px;
  }

  .cell-legend-text.subtext {
    color: var(--gray);
    margin-bottom: 0;
    font-size: 16px;
  }

  .legal-rich-text-block h1 {
    color: var(--primary);
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.2;
  }

  .legal-rich-text-block strong {
    color: var(--primary);
  }

  .legal-rich-text-block h2 {
    font-size: 28px;
  }

  .legal-wrapper {
    width: 100%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 36px;
    line-height: 120%;
  }

  .hero-heading {
    font-size: 46px;
  }

  .hero-text {
    font-size: 20px;
  }

  .hero-outer {
    grid-row-gap: 40px;
  }

  .caption {
    font-size: 14px;
  }

  .nav-top {
    grid-row-gap: 20px;
  }

  .nav-outer {
    max-width: 60%;
    overflow: auto;
  }

  .navbar-wrap {
    display: flex;
  }

  .nav-link {
    font-size: 20px;
  }

  .menu-button {
    flex-flow: column;
    display: flex;
  }

  .about-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .about-block {
    grid-column-gap: 40px;
    align-items: center;
  }

  .about-data {
    grid-row-gap: 20px;
  }

  .about-number {
    grid-column-gap: 40px;
    grid-row-gap: 20px;
  }

  .dark-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .what-wrap {
    grid-column-gap: 50px;
  }

  .client-card {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .client-outer {
    grid-row-gap: 60px;
  }

  .cta-title {
    font-size: 26px;
    line-height: 120%;
  }

  .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer-title {
    max-width: 51%;
    font-size: 36px;
    line-height: 120%;
  }

  .social-link {
    font-size: 20px;
  }

  .footer-outer {
    grid-row-gap: 120px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
  }

  .footer-right {
    grid-column-gap: 40px;
    justify-content: flex-end;
    max-width: 50%;
  }

  .footer-left {
    max-width: 50%;
  }

  .footer-link {
    font-size: 28px;
  }

  .footer-inner {
    padding-right: 0;
  }

  .slide-hover {
    display: none;
  }

  .slide-inner {
    max-width: 740px;
  }

  .section-wrap {
    grid-row-gap: 60px;
  }

  .about-bottom {
    grid-row-gap: 10px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .about-information {
    grid-column-gap: 40px;
    align-items: center;
  }

  .contact-image {
    max-width: 50%;
  }

  .contact-info {
    width: 100%;
    max-width: 50%;
  }

  .top-section {
    padding-bottom: 100px;
  }

  .section-outer {
    grid-column-gap: 60px;
    justify-content: space-between;
    align-items: center;
  }

  .section-outer.top {
    justify-content: space-between;
    align-items: flex-start;
  }

  .h2-styling {
    font-size: 42px;
  }

  .h1-small {
    font-size: 48px;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 24px;
  }

  .hero-tools {
    grid-row-gap: 10px;
    padding-bottom: 80px;
  }

  .tools-wrap {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }

  .hero-heading {
    font-size: 44px;
  }

  .hero-text {
    font-size: 18px;
  }

  .hero-outer {
    grid-row-gap: 30px;
  }

  .nav-outer {
    max-width: 70%;
    padding: 20px 60px;
  }

  .navbar-btn {
    display: none;
  }

  .navbar-wrap {
    flex-flow: row-reverse;
  }

  .close-btn.w--open {
    top: 20px;
    right: 20px;
  }

  .brand {
    width: auto;
    margin-left: 0;
    padding-left: 0;
  }

  .logo {
    justify-content: flex-start;
    align-items: center;
  }

  .about-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about-block {
    grid-row-gap: 50px;
    flex-flow: column;
  }

  .about-data {
    padding-bottom: 0;
  }

  .about-number {
    flex-flow: wrap;
    grid-auto-columns: 1fr;
  }

  .dark-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .what-wrap {
    grid-row-gap: 40px;
    flex-flow: column;
  }

  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .client-inner {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .client-outer {
    grid-row-gap: 50px;
  }

  .cta-bottom {
    grid-column-gap: 20px;
  }

  .cta-btn {
    max-width: 165px;
  }

  .cta-title {
    font-size: 24px;
  }

  .term-wrap {
    grid-row-gap: 10px;
    flex-flow: column;
    align-items: flex-start;
  }

  .footer-title {
    max-width: none;
    font-size: 32px;
  }

  .term-left {
    justify-content: flex-start;
    align-items: flex-start;
    max-width: none;
  }

  .social-link {
    font-size: 16px;
  }

  .footer-outer {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .term-right {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-right {
    grid-column-gap: 10px;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
  }

  .footer-link {
    font-size: 22px;
  }

  .footer-inner {
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    flex-flow: column-reverse;
  }

  .slide-inner {
    max-width: 420px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .section-wrap {
    grid-row-gap: 40px;
  }

  .about-information {
    grid-row-gap: 50px;
    flex-flow: column;
  }

  .contact-image, .contact-info {
    max-width: none;
  }

  .top-section {
    padding-bottom: 80px;
  }

  .section-outer {
    grid-row-gap: 30px;
    flex-flow: column;
  }

  .section-outer.top {
    grid-row-gap: 60px;
    grid-template-columns: 1fr;
  }

  .grid-fourths, .grid-fourths.pricing-grid {
    grid-template-columns: 1fr 1fr;
  }

  .cell.centered-cell.hide-mobile, .cell.top-cell.hide-mobile {
    display: none;
  }

  .h2-styling {
    font-size: 36px;
  }

  .h1-small {
    font-size: 36px;
    line-height: 120%;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 32px;
  }

  .hero-tools {
    padding-bottom: 60px;
  }

  .tools-wrap {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }

  .hero-wrap {
    grid-row-gap: 40px;
    flex-flow: column-reverse;
    grid-template-columns: 1fr;
  }

  .hero-image {
    padding-top: 130%;
  }

  .hero-block {
    grid-row-gap: 40px;
    flex-flow: column;
    display: flex;
  }

  .hero-outer {
    grid-row-gap: 20px;
  }

  .tools-card {
    width: 100%;
  }

  .nav-outer {
    max-width: none;
    padding-left: 40px;
    padding-right: 40px;
  }

  .navbar-btn {
    display: none;
  }

  .navbar-wrap {
    grid-column-gap: 30px;
    flex-flow: row-reverse;
  }

  .close-btn.w--open {
    top: 30px;
  }

  .nav-bottom {
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    flex-flow: wrap;
    justify-content: space-between;
  }

  .menu-button {
    background-color: #0000;
  }

  .about-block {
    grid-row-gap: 30px;
    flex-flow: column;
  }

  .about-data {
    grid-row-gap: 10px;
    padding-bottom: 0;
  }

  .body-large {
    font-size: 16px;
  }

  .about-number {
    flex-flow: wrap;
    justify-content: space-between;
    display: flex;
  }

  .dark-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .client-card {
    padding-left: 30px;
    padding-right: 30px;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .client-inner {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .cta-bottom {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-title {
    max-width: none;
    font-size: 34px;
  }

  .term-left {
    grid-row-gap: 5px;
    flex-flow: wrap;
  }

  .footer-outer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .term-right {
    max-width: none;
  }

  .footer-right {
    grid-column-gap: 20px;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: none;
  }

  .footer-left {
    grid-row-gap: 15px;
    max-width: none;
  }

  .footer-top {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-link {
    font-size: 18px;
  }

  .footer-inner {
    grid-row-gap: 20px;
  }

  .slide-outer {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
  }

  .slide-hover {
    max-width: 80px;
    height: 80px;
    margin-top: -1px;
  }

  .slide-inner {
    max-width: 300px;
  }

  .about-information {
    grid-row-gap: 30px;
    flex-flow: column;
    grid-template-columns: 1fr;
  }

  .about-me {
    grid-row-gap: 30px;
  }

  .top-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section-outer {
    grid-row-gap: 30px;
  }

  .grid-fourths {
    grid-template-columns: 1fr;
  }

  .grid-fourths.pricing-grid {
    grid-template-columns: 1.5fr 1fr;
  }

  .cell {
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .cell.centered-cell {
    text-align: center;
  }

  .cell.mobile-padding-right {
    padding-right: 16px;
  }

  .cell-legend-text.subtext {
    font-size: 13px;
  }

  .two-button-flex {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .h2-styling {
    font-size: 32px;
  }
}

#w-node-e869bca0-9b94-16d5-7272-24d47e39e11b-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e11e-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e11f-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e120-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e123-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e128-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e129-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e12a-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e130-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e135-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e136-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e137-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e13d-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e148-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e149-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e14a-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e150-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e157-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e158-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e159-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e15f-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e164-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e165-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e166-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e16c-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e171-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e172-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e173-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e179-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e17e-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e17f-5ea9112a, #w-node-e869bca0-9b94-16d5-7272-24d47e39e180-5ea9112a {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_9857ff87-61fa-def4-9af3-79521aae576e-1aae5747 {
  justify-self: center;
}

#w-node-_9857ff87-61fa-def4-9af3-79521aae5775-1aae5747 {
  justify-self: end;
}

@media screen and (max-width: 479px) {
  #w-node-_0f30bc08-9c19-5518-9f60-803f4aec2344-5ea9112a {
    grid-area: 1 / 1 / 2 / 2;
  }
}


