@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-Light.otf') format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-Regular.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-Extralight.otf') format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-Bold.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-Thin.otf') format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-Medium.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #1a1a1a;
  --white: white;
  --black-light: #232323;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: Switzer, sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.3;
}

h1 {
  letter-spacing: -8px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 8rem;
  font-weight: 300;
  line-height: .9;
}

h2 {
  letter-spacing: -2px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
}

h3 {
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
}

h4 {
  letter-spacing: -.5px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.1;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--black);
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.25rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.heading-medium {
  letter-spacing: -.5px;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.text-style-muted {
  opacity: .6;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.form-text-field {
  background-color: #0000;
  min-height: 3rem;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.text-size-tiny {
  font-size: 1rem;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.page-padding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.max-width-large {
  width: 100%;
  max-width: 51rem;
}

.error-message {
  margin-top: .75rem;
  padding: .75rem;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  max-width: 20rem;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.main-wrapper {
  overflow: hidden;
}

.margin-xsmall {
  margin: .5rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom.margin-medium {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.header-latest {
  margin-bottom: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.utility-image {
  width: 100%;
}

.hero-section {
  z-index: 1;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 85vh;
  display: flex;
  position: relative;
}

.hero-component {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.hero-heading {
  margin-top: -1rem;
  margin-left: -.6rem;
}

.work-section {
  z-index: 2;
  background-color: var(--black-light);
  position: relative;
}

.work-grid {
  grid-column-gap: 1.5rem;
  grid-row-gap: 5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.work-item {
  color: var(--white);
}

.work-image-wrap {
  margin-bottom: 1.6rem;
  overflow: hidden;
}

.work-image {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  width: 100%;
}

.text-size-xlarge {
  letter-spacing: -.5px;
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.1;
}

.about-image-stats-grid {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  grid-auto-columns: 1fr;
  align-items: end;
  margin-top: 3rem;
  display: grid;
}

.about-image-wrap {
  overflow: hidden;
}

.about-image {
  aspect-ratio: 3 / 4;
  transform-origin: 50% 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.about-stats-items-wrap {
  grid-column-gap: 4rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.about-stats-item {
  flex-direction: column;
  align-items: flex-start;
}

.about-stats-number-text {
  letter-spacing: -4px;
  font-size: 6rem;
  line-height: .9;
}

.services-component {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.services-items-wrap {
  grid-row-gap: 3rem;
  flex-direction: column;
  width: 60%;
  display: flex;
}

.service-item {
  padding-bottom: 1rem;
  position: relative;
}

.service-item-tags-wrap {
  grid-column-gap: .8rem;
  grid-row-gap: .5rem;
  color: #ffffff80;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1rem;
  display: flex;
}

.service-item-divider-line {
  transform-origin: 0%;
  background-color: #fff3;
  width: 100%;
  height: 1px;
  position: absolute;
  inset: auto 0% 0%;
}

.testimonials-grid-wrap {
  grid-column-gap: 1rem;
  grid-row-gap: 5rem;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 2rem;
  display: grid;
}

.testimonial-person {
  grid-column-gap: 1rem;
  align-items: center;
  margin-top: 1.2rem;
  display: flex;
}

.footer {
  background-color: var(--black-light);
  margin-top: 5rem;
}

.footer-inside {
  padding-bottom: 1rem;
}

.button-text-absolute {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 100% 0% auto;
}

.footer-top {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 48rem;
  margin-bottom: 12rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.button-text-wrap {
  position: relative;
  overflow: hidden;
}

.footer-cta-text {
  letter-spacing: -.3rem;
  font-size: 7rem;
  line-height: .8;
}

.button {
  background-color: var(--white);
  color: var(--black);
  border-radius: 100px;
  padding: 1.2rem 3rem;
}

.footer-bottom {
  border-top: 1px solid #fff3;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 2rem;
  display: flex;
}

.footer-links-wrap {
  grid-column-gap: 3rem;
  grid-row-gap: .8rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 1rem;
  display: grid;
}

.footer-link {
  color: var(--white);
  font-size: 1rem;
  transition: color .2s;
}

.footer-link:hover {
  color: #fff9;
}

.navbar-inside {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid #fff3;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
}

.navbar-logo {
  width: 7rem;
}

.navbar-available-div {
  grid-column-gap: 6px;
  align-items: center;
  font-size: 1rem;
  display: flex;
}

.navbar-available-dot {
  background-color: var(--white);
  border-radius: 100%;
  width: .4rem;
  height: .4rem;
}

.navbar-links-wrap {
  grid-column-gap: 1.5rem;
  align-items: center;
  display: flex;
}

.navbar-link {
  color: var(--white);
  font-size: 1rem;
}

.header {
  position: relative;
}

.image {
  z-index: -2;
  object-fit: cover;
  object-position: 50% 25%;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.div-block {
  z-index: -1;
  opacity: .6;
  background-color: #1a1a1a;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.latest-card-date-wrapper {
  display: flex;
}

.latest-card-wrapper {
  align-items: stretch;
  display: flex;
}

.latest-card-heading {
  margin-top: 1rem;
  margin-bottom: 30px;
}

.latest-item {
  margin-top: 40px;
  margin-bottom: 80px;
}

.latest-card-date {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 12px;
  text-decoration: none;
}

.latest-card-image-wrapper {
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-right: 40px;
  display: flex;
  overflow: hidden;
}

.blog-card-button {
  background-color: #0000;
  border-bottom: 3px solid #fff;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  inset: auto auto 0% 0%;
}

.latest-card-image {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  width: 100%;
  max-width: none;
  display: block;
}

.latest-card-content-wrapper {
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  display: flex;
  position: relative;
}

@media screen and (max-width: 991px) {
  h1 {
    letter-spacing: -6px;
    font-size: 6rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .hero-component {
    grid-row-gap: 1rem;
  }

  .work-image-wrap {
    margin-bottom: 1.2rem;
  }

  .text-size-xlarge {
    font-size: 2.8rem;
  }

  .about-image-stats-grid {
    grid-template-columns: 1fr;
  }

  .about-image-wrap {
    width: 50%;
  }

  .about-stats-items-wrap {
    flex-wrap: wrap;
  }

  .testimonials-grid-wrap {
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
  }

  .footer-bottom {
    grid-row-gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .image {
    object-position: 30% 25%;
  }

  .latest-card-wrapper {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .latest-card-image-wrapper {
    width: 100%;
  }

  .blog-card-button {
    margin-top: 40px;
    margin-left: 0;
    position: relative;
  }

  .latest-card-content-wrapper {
    margin-top: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    letter-spacing: -5px;
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  .heading-medium {
    font-size: 1.5rem;
  }

  .page-padding {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .header-latest {
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .hero-component {
    grid-row-gap: 2rem;
    flex-direction: column;
  }

  .work-grid {
    grid-template-columns: 1fr;
  }

  .text-size-xlarge {
    font-size: 2.3rem;
  }

  .about-image-wrap {
    width: 70%;
  }

  .about-stats-items-wrap {
    grid-row-gap: 2rem;
  }

  .about-stats-number-text {
    font-size: 5rem;
  }

  .services-component {
    grid-row-gap: 4rem;
    flex-direction: column;
  }

  .services-items-wrap {
    width: 80%;
  }

  .footer-cta-text {
    font-size: 6rem;
  }

  .footer-links-wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 1.2rem;
  }

  h1 {
    letter-spacing: -3px;
    font-size: 4rem;
  }

  h2 {
    font-size: 2.7rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .hero-section {
    min-height: 80vh;
    padding-bottom: 5rem;
  }

  .work-grid {
    grid-row-gap: 3rem;
  }

  .text-size-xlarge {
    font-size: 2.1rem;
  }

  .about-image-wrap {
    width: 100%;
  }

  .services-component {
    grid-row-gap: 3rem;
  }

  .services-items-wrap {
    width: 100%;
  }

  .testimonials-grid-wrap {
    grid-row-gap: 3.5rem;
    grid-template-columns: 1fr;
  }

  .footer-cta-text {
    letter-spacing: -.25rem;
    font-size: 4.5rem;
  }

  .footer-links-wrap {
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .navbar-inside {
    grid-template-columns: 1fr 1fr;
  }

  .navbar-links-wrap {
    display: none;
  }

  .latest-card-heading {
    font-size: 28px;
  }

  .latest-card-image-wrapper {
    height: 250px;
  }
}

#w-node-_39c6d0c1-c8a5-97a9-36c4-743930987ab2-e1d64b23, #w-node-c12ebc57-2688-67d2-7a4e-7be8db42ccdd-e1d64b23, #w-node-a8bb8d6a-f574-9525-506b-9ea8488b5475-e1d64b23, #w-node-a8bb8d6a-f574-9525-506b-9ea8488b5480-e1d64b23, #w-node-a8bb8d6a-f574-9525-506b-9ea8488b548b-e1d64b23, #w-node-a8bb8d6a-f574-9525-506b-9ea8488b5496-e1d64b23, #w-node-_07f79e02-f1c5-ec45-0a43-1ac3307ec3cc-e1d64b23, #w-node-c81f929e-6c34-15d8-98cb-24aa1e120ee7-e1d64b23, #w-node-f7de6b81-3cd9-6c16-a3d8-963a7151f1e3-865866f4, #w-node-_40281b69-8629-825b-200f-d22b86586710-865866f4, #w-node-_40281b69-8629-825b-200f-d22b86586712-865866f4, #w-node-f1f7a3b7-480e-c252-97c6-18210399ed0e-865866f4, #w-node-_3557691e-91a3-cc7c-5c8c-46555b184565-865866f4, #w-node-f1f7a3b7-480e-c252-97c6-18210399ed0c-865866f4, #w-node-f1f7a3b7-480e-c252-97c6-18210399ed12-865866f4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2beb261c-6d31-f492-585a-9c9ce40df4c7-e40df4c1 {
  justify-self: center;
}

#w-node-_2beb261c-6d31-f492-585a-9c9ce40df4cb-e40df4c1 {
  justify-self: end;
}


@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}